@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


#user-form {
  padding-bottom: 50px;
}

#country {
  padding: 5px;
}


#input-text {
  padding: 5px;
}

#btn-submit {
  padding-left: 50px;
  padding-right: 50px;
}